.home-page .reseed-btn {
  width: auto;
}

.home-page .name {
  font-size: 20px;
  font-weight: bold;
}

.home-page .chat-container{
  height: 80vh;
  border: 3px solid #b2b1b1;
  border-radius: 10px;
  margin-bottom: -2.5rem;
}

.home-page .chat-container .message{
  border-radius: 10px;
  padding: 0.5rem;
  background-color: aquamarine;
}